# API Gateway Configuration
PORT=3000
NODE_ENV=development
LOG_LEVEL=info

# Redis Configuration
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=

# Auth Configuration
JWT_SECRET=dev_jwt_secret

# Rate Limiting
RATE_LIMIT_MAX_REQUESTS=10000
RATE_LIMIT_WINDOW_MS=900000

# Service URLs
AUTH_SERVICE_URL=http://auth-service:3001
BANK_SERVICE_URL=http://bank-sync-service:3002
PAYMENT_SERVICE_URL=http://payment-service:3005
WORKFLOW_SERVICE_URL=http://workflow-service:3003
CAMPAIGN_SERVICE_URL=http://campaign-engine:3004

# Service Timeouts (ms)
AUTH_SERVICE_TIMEOUT=30000
BANK_SERVICE_TIMEOUT=30000
PAYMENT_SERVICE_TIMEOUT=30000
WORKFLOW_SERVICE_TIMEOUT=30000
CAMPAIGN_SERVICE_TIMEOUT=30000

# CORS Configuration - Empty to allow all origins in development
ALLOWED_ORIGINS=
TRUST_PROXY=false

# License Configuration (REQUIRED for production)
LICENSE_KEY=eyJkYXRhIjp7ImlkIjoiQ1JNLTE3NTExNzQ3NTk3MzYtVjc5MTZWIiwiY29tcGFueSI6IlhQTSBQcml2YXRlIExpbWl0ZWQiLCJlbWFpbCI6ImR1Y2R1eTI2MTJAZ21haWwuY29tIiwiZXhwaXJlc0F0IjoiMjAyNi0wNi0yOVQwNToyNTo1OS43MzZaIiwiY3JlYXRlZEF0IjoiMjAyNS0wNi0yOVQwNToyNTo1OS43MzZaIn0sInNpZ25hdHVyZSI6IjAyUEhoVGhuZ281VnQ5aUYrL3lLdi85R3JSWFBFejh6aXVMZStDeUhGMWNsdSt0YjN4eEl6S29jQnU5RFAwSGhhMmFGdEJXMTE4RnNMV0NYNXJCOEx4dzVWWTcrQjFJMlFRcDdrSXRkdmFiSm5rUnh2Q3lLS0p3bFB4eFRrY1dJQmV1Uk9ZTFFpK2VuNExHNnFodmI0UkhvV1paY21zOUxxZzBUNzEzSmIzRGoyWVdDRkZtcmFTNlZPUWMyM2hOdWZWUkpmNUtEbUFGZ2Rzd00yY1hEVjlMTm11YTVCWGdPMkZRZE9QbVJzbnp0OStpS0JiZlFJZnFENkVJSGJJaHlJTWIxUlBnZ0JHQ2pmdjA2eWkwN281VEoycFZuS3ozcTluUS95R2U0UVlKMDU5ci9JdS8vaHdmbXpCMnZFTXF0YkJnZGQ0dmwrN1lVc2kxakQxTWhjUT09In0=
LICENSE_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1V2eq1Z+GiMOw+3sHB6p
s+IJgQtaW0B0NlrO5Y4vjIKNxp1TsFBCiuFI9Qqct8LgQzS+13qhZXhzh6c1ULrA
7PaC42I+XDsdbmrTO/oIq9rim89E5S+gQREVpVlJFAm0Z+X9uiSrkEYE3CEw1lWC
LiZtbaDuBKrCLFtK9q53C2BwxM754okqmRMYUmp2hJwSaRnIZsr7rtoLTiuDgEbh
n+/hLaNT+WoVvyFw4W1n+fXMeBrHa8HV1fwVaGXHZt5K928wLyqstMB8nf6xZx7l
ZmUzdAEiLgcJZEzCpbF7uznRXlrZy8FajmgyRUYNYkz0dYkNuN8Km87178+EZPZl
kQIDAQAB
-----END PUBLIC KEY-----
"